includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
#      - '#Static method .+\:\:make\(\) is unused\.#'
#      - '#Property .+\:\:\$uuid is never read, only written\.#'
    symfony:
        containerXmlPath: var/cache/dev/Whipo_Shop_KernelDevDebugContainer.xml
