includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        - '#Property .+Entity.+\:\:\$uuid is never written, only read.#'
    symfony:
        containerXmlPath: var/cache/dev/Whipo_Shop_KernelDevDebugContainer.xml
